{{!-- <h1>{{title}}</h1> --}}
<input type="text" class="inp">
<input type="button" class="btn" value="提交数据到后台">
<script src="javascripts/jquery.min.js"></script>
<script>
    $(function(){
        $('.btn').click(function(){
            var val = $('.inp').val();
        
        })
    });
</script>